{% extends "base.html" %}

{% block page_title %}
    Sign Up
{% endblock page_title %}

{% block search-bar %}
{% endblock search-bar %}

{% block content %}

    <div >

       
        <form method="POST"  enctype="multipart/form-data">
            {% csrf_token %}
    
            {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                    <span >{{error}}</span> 
                {% endfor %}
            {% endif %}
    
            {% for field in form %}
                {% include 'form_input.html' with field=field %}
            {% endfor %}
    
            <button>confirm{{cta}}</button>
        </form>

        <div>
            <span >Have an account?</span>
            <a href="{% url 'users:login' %}" >Log in</a>
        </div>

    </div>
{% endblock content %}